
h1{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 12px;
}
h2{
    text-decoration: underline;
}
p{
    font-size: 22px;
}
#pelda{
    font-size: 25px;
    text-decoration: underline;
}
#lista{
    
}
li{
    font-size: 22px;
}